psycopg2 == 2.9.9
aiogram == 3.4.1
aiohttp~=3.9.3
SQLAlchemy~=2.0.27
python-dotenv~=1.0.1
celery~=5.3.6


pytz~=2024.1
pip~=24.0
attrs~=23.2.0
cloudbiolinux~=0.1
cryptography~=42.0.5
automium_web~=0.1.1
Jinja2~=3.1.3
filelock~=3.13.1